<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diabetic Retinopathy Detection</title>
  <!-- Add your CSS file link here -->
  <link rel="stylesheet" href="/static/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>

<body>
    <section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: hsl(195, 94%, 88%);">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/static/images/eye_Manoj.jpeg" alt="logo" style="height:50px;width:80px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         
          <i class="fa fa-bars" aria-hidden="true"></i>

        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto" style="float:right">
            <li class="nav-item" style="float:right">
              <a class="nav-link active" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">ABOUT US</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link disabled active" href="#" tabindex="-1" aria-disabled="true">FAQ'S</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">SIGNUP/LOGIN</a>
            </li>
          </ul>

          <!-- <ul class="navbar-nav ms-auto" >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">SIGNUP/LOGIN</a>
            </li>
      
          </ul> -->
        </div>
      </div>
    </nav>
  </section>

   <section id="banner">
      <div class='container'>
        <div class="row">
          <div class="col-md-6">
            <p class="title">Upload the Fundus Image </p>
            <p>We will give you the Report</p>
          
            <div class="drag-area">
              <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
              <header>Drag & Drop to Upload File</header>
              <span>OR</span>
              
              <button>Browse File</button>
              <input type="file" name="image" hidden>
            </div>
            <script src="/static/script_01.js"></script>
    
          </div>

          <div class="col-md-6 text-center">
            <img src="/static/images/home_Image.jpeg" class="img-fluid" style="width:500px;height:400px; padding-bottom:25px;" alt = "Background">
          </div>
        </div>
      </div>
      <img src="/static/images/wave1.png" class="bottom-img">

    <!-- <section id="upload-section">
      <form action="upload.php" method="POST" enctype="multipart/form-data">
        <div>
          <input type="file" id="image-upload" name="image" accept=".jpg, .jpeg, .png">
          <button type="submit">Upload</button>
        </div>
      </form>
      <p>Please upload your X-ray image for analysis.</p> -->
      
      <!-- <div id="uploaded-image-container"></div>
    </section> -->
<!-- 
    <section id = "Result">
      <div id="result_Container"></div>
      <script src="/static/script_01.js"></script>
    </section> -->

    <section id ="Report">
    <form action="/dynamic" method="POST", enctype="multipart/form-data">
      <div>
        <input type = "file" name = "file"/>
        <!-- <textarea id = "result_Container", name = "path" hidden></textarea> -->
        <button type="submit">Result</button>
        <script src="/static/script_01.js"></script>
      </div>
    </form>
  </section>

<!-- <section id="Display">
   
      <div >
        <button type="submit">Result</button>
        </div>
        <script src="/static/script1.js"></script>
      </section> -->


    <div id="output">
      <!-- <p id = "result_Container"></p> -->
      <!-- <img src = "{{img_Path}}" alt ="Response Image"> -->
      <h1>{{ img_Path }}</h1>
      <h1>Probability of Having Diabetic Retinopathy : {{ probability[0][0] * 100}} %</h1>
      <script src="/static/script_01.js"></script>
    </div>

    <section id= "information-section">
      <h2>Diabetic Retinopathy Information</h2>
      <!-- Add detailed information about Diabetic Retinopathy here -->
      <p>There are Four Stages of Diabetic Retinopathy : Mild, Moderate, Severe, Proliferative</p>
    </section>


   
    <footer>
      <ul>
        <!-- Add your contact and social media links here -->
        <li><a href="mailto:contact@example.com">Email</a></li>
        <li><a href="tel:+123456789">Phone</a></li>
        <li><a href="https://www.facebook.com/example">Facebook</a></li>
        <li><a href="https://www.twitter.com/example">Twitter</a></li>
      </ul>
      <p>&copy; 2023 Diabetic Retinopathy Website. All rights reserved.</p>
    </footer>

    <!-- Add your JavaScript file link here -->
    <script src="../static/script.js"></script>
</body>

</html>